<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View your item</title>
</head>
<body>
    
<main class="row justify-items-center">
    <div class="col-md-10">
        <section>
            <div class="card">
                <div class="card col-md-6">

                </div>
                <div class="card col-md-6">
                    
                </div>
            </div>
        </section>
    </div>
</main>

</body>
</html>